# Python
backend/.venv/
backend/__pycache__/
backend/*.db
backend/.env

# Node
frontend/node_modules/
frontend/dist/

# Data & uploads
data/uploads/
data/CCTV/**/*.mp4

# Models
# models/yolo/*.pt

# =========================
# Python 기본
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# 가상환경
# =========================
venv/
.env/
.venv/
.env

# =========================
# 패키지 빌드 / 배포
# =========================
build/
dist/
*.egg-info/

# =========================
# 테스트 / 커버리지
# =========================
.pytest_cache/
.coverage
htmlcov/
resource/

# =========================
# 로그 / 임시 파일
# =========================
*.log
*.tmp

# =========================
# OS별 파일
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / 에디터
# =========================
.vscode/
.idea/

# =========================
# 미디어 파일
# =========================
**/resource/*


# =========================
# 마이그레이션 파일
# =========================

**/migrations/*
!**/migrations/__init__.py
db.sqlite3

*.mp3
*.mp4
*.jpg
*.json