# torchreid 주석 처리후 pip install -r requirements.txt
# 이후 
# python -m pip install --no-build-isolation "git+https://github.com/KaiyangZhou/deep-person-reid.git@f8cd150fdf77e8d9e1ed143b7f308c2c609ded50"
